@import 'spacing';

/* CUSTOM CSS */

.mermaid {
    background: #c1c1c1;
    padding: 20px;
}

video {
    width: 100%;
    height: auto;
}

.raw-pre {
    background-color:#c1c1c1;
    color:#444;
    border-radius:0;
    padding:20px;
    margin-bottom:20px;

    pre {
        margin-bottom: 0;
    }
  }